:root{
    --fuente:'Open Sans', sans-serif;
    --blanco: #ffffff;
    --principal: #333333;
    --secundario: #e08709;
    --alternativo: #9e9e9e;

}


html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 2;
    color: var(--blanco);
    background-color: var(--principal);
}

/*Globales*/
.contenedor{
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    line-height: 1.2;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}

/*Utilidades*/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}

/*index*/
.header{
    background-color: var(--principal);
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding: .5rem;
}

.fotoPerfil img{
    width:  10rem;
    height: 10rem;
    border-radius: 50%;
}

.navegacion{
    background-color: var(--principal);
    text-transform: uppercase;
}
.navegacion a{
    border: 1px solid var(--secundario);
    padding: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    color: var(--secundario)
}

.navegacion li{
    padding: 1rem;
}

@media (min-width: 768px) {
    .navegacion ul{
        display: flex;
        justify-content: center;
    }
    
}

.contenido{
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

.footer-titulo{
    color: var(--secundario);
}

.contacto{
    display: flex;
    justify-content: center;
}

/*Formacion*/

.formacion fieldset legend{
    text-transform: uppercase;
}

.certificados{
    text-transform: uppercase;
}

.certificados a{
    color: var(--secundario);
}

/*CV*/

.icono{
    filter: brightness(0) saturate(100%);
}